sudo tee /etc/systemd/system/prometheus.service > /dev/null <<EOF
[Unit]
Description=Prometheus Monitoring System
After=network.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/prometheus/prometheus --config.file=/home/ubuntu/prometheus/prometheus.yml
Restart=always

[Install]
WantedBy=multi-user.target
EOF

